{
    "avatar_url": "https://cdn0.iconfinder.com/data/icons/social-network-7/50/16-512.png",
    "username": "RTMP Server",
    "embeds": [{
        "author": {
          "name": "Twitch Token Refresh Failed",
          "icon_url": "https://cdn0.iconfinder.com/data/icons/social-network-7/50/16-512.png"
        },
        "description": "Refreshing Twitch OAuth tokens failed.",
        "color": "13369344"
    }],
    "content":"<@639003541179990046>"
}
